$color_1: white;
$color_2: #081b29;
$color_3: #00abf0;
$color_4: red;
$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family_2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family_3: 'Times New Roman', Times, serif;
$font-family_4: Verdana, Geneva, Tahoma, sans-serif;

/*MEDIAQUERYS*/
/* Media Query 420px */
/*FOOTER*/
/*SUSCRIBIRSE AMATERASU*/
/*PINTURAS A VER*/
/*SUSCRIBIRSE*/
/*BOOSTRAP*/
/*NUEVO RESPONSIVE*/
/*CONTENIDO*/
/*INDEX-RESPONSIVE*/
/*INGRESAR RESPONSIVE*/
/* Estilos generales */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: #081b29;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: fixed;
	height: 100vh;
}
header {
	border-radius: 30px;
	align-items: center;
	display: flex;
	padding: 10px;

}
.nav-list {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	li {
		.link {
			text-decoration: none;
			color: $color_1;
		}
	}
	align-items: center;
	
}

.navbar-expand-lg{
	width: 100%;
	
	background-color:#081b29 ;

}
.abrir-menu {
	display: none;
}
.cerrar-menu {
	display: none;
}
.barra {
	background-color: red;
	display: flex;
	justify-content: space-around;
}
.contacto {
	display: flex;
	padding: 12px;
	margin-left: 16%;
	flex-direction: row;
	font-size: 20px;
	font-family: $font-family_1;
	background-color: $color_2;
	
	
}
li {
	padding: 15px;
	text-decoration: none;
	list-style: none;
	.link {
		text-decoration: none;
		font-size: 23px;
		color: $color_1;
		padding: 8px;
		&:hover {
			color: $color_3;
			transition: 0.4s;
		}
	}
}
.section-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.logo-2 {
	/*max-width: 100%;
	height: 500px;
	width: 800px;
	padding-top: 12px;
	margin-right: 300px;
	border-radius: 20px;
    padding-left: 200px;*/
	width: auto;
	height: 500px;
	padding-left: 12px;
    
}
.contenido {
	justify-content: space-between;
	padding-left: 20px;
	backdrop-filter: blur 40px;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 50px;
	margin-right: 200px;
	color: $color_1;
	padding: 20px;
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
}
.logo {
	width: 150px;
}
.text-1 {
	flex-direction: row;
	color: $color_1;
	font-size: 19px;
	padding: 20px;
	justify-content: center;
}
h1 {
	font-size: 40px;
	justify-content: center;
	align-items: center;
	font-family: $font-family_2;
}
hr {
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	color: $color_1;
}
footer {
	padding: 20px;
	text-align: center;
}
.cont {
	display: flex;
	
	align-items: center;
}
.cont-3 {
	margin-top: 10px;
	align-items: center;
	padding-right: 15px;
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
}
.text-footer {
	margin-bottom: 10px;
	font-size: 25px;
	font-family: $font-family_3;
	text-align: center;
	color: $color_1;
	font-family: $font-family_2;
	font-style: italic;
}
.fa-brands {
	margin: 0 10px;
}
.fa-solid {
	margin: 0 10px;
}
.dir-1 {
	&:hover {
		color: $color_3;
	}
	font-size: 20px;
	font-family: $font-family_2;
	font-style: italic;
	color: $color_1;
}
i {
	color: $color_1;
	width: 12px;
	padding: 12px;
}
.cuadrado {
	width: 370px;
	height: 370px;
	margin-top: 100px;
	margin-left: 42.4%;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
	border: 2px solid rgba(255, 255, 255, .5);
	align-items: center;
	text-align: center;
	border-radius: 20px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	
	padding-left: 5px;
	padding-right: 5px;
	
}
.log {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	font-family: $font-family_4;
	text-align: center;
	margin-bottom: 20px;
}
.correo {
	padding-top: 12px;
	text-align: center;
	font-family: $font-family_2;
	font-size: 30px;
	margin-bottom: 20px;
}
.contraseña {
	padding-top: 50px;
	text-align: center;
	font-family: $font-family_2;
	font-size: 30px;
	margin-bottom: 20px;
}
input {
	color: black;
	padding: 12px;
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
}
.boton {
	text-align: center;
	padding-top: 12px;
	align-items: center;
	
	
	button {
		width: 100%;
		padding: 10px;
		background-color: #4CAF50;
		color: $color_1;
		border: none;
		border-radius: 4px;
		
	}
}
button {
	padding: 12px;
}
.sec1 {
	display: flex;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.list-1 {
	background-color: transparent;
	padding-top: 5%;
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	display: wrap;
	display: flex;
	flex: 1;
	margin-top: 20px;
	box-sizing: border-box;
	flex-basis: 100%;
	margin-bottom: 20px;
	height: 350px;
	padding: 90px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: 10px;
	}
}
.nav-1 {
	color: $color_1;
	font-size: 20px;
	box-sizing: border-box;
	text-decoration: none;
	&:hover {
		color: $color_3;
		transition: 0;
		border-radius: 20px;
	}
}
.sepa {
	box-sizing: border-box;
}
.lista-2 {
	text-align: center;
	box-sizing: border-box;
}
.img-1 {
	display: flex;
	box-sizing: border-box;
	text-align: center;
	text-align: center;
	display: flex;
	align-items: center;
 
}
.img-dos {
	width: 400px;
}
.img-uni {
width: 350px;
height: 500px;
padding-top: 12px;
}
.text-picture-1 {

	box-sizing: border-box;
	font-size: 20px;
	font-style: italic;
	font-family: $font-family_2;
	margin-left: 30%;
	text-align: center;
	align-items: center;
	padding-top: 10%;
	color: $color_1;
	margin-top: 10px;
	margin-top: 10px;
	margin-left: 0px;
}
.sec2 {
	padding-left: 20px;
	margin-left: 12%;
	margin-top: 10px;
	box-sizing: border-box;
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	flex: 1;
	padding-right: 20px;
}
.section-content-2 {
	color: $color_1;
	display: flex;
	padding-left: 10%;
	padding-right: 20%;
	padding-top: 5%;
	flex-wrap: wrap;
}
.titulos-h2 {
	color: $color_1;
	text-align: center;
	margin-top: 10%;
	font-family: $font-family_2;
	font-size: 30px;
}
.cuadrado-2 {
	width: 370px;
	height: 420px;
	margin-top: 100px;
	margin-left: 42.4%;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
	border: 2px solid rgba(255, 255, 255, .5);
	align-items: center;
	text-align: center;
	border-radius: 20px;
}
.img-info {
	width: 350px;
}
.text-info-1 {
	padding-left: 12px;
	padding-top: 20px;
	font-size: 20px;
	font-style: italic;
	font-family: $font-family_2;
}
.imagen-size {
	height: 800px;
	width: 400px;
}
sec1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
}
input[type="email"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
@media screen and (max-width: 420px) {
	.abrir-menu {
		display: block;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        border-radius: 12px;
	}
	.cerrar-menu {
		display: block;
        background-color: black;
        color: white;
        border-radius: 12px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
	}
	.nav {
		opacity: 0;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #00abf0;
		padding: 2rem;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
		align-items: end;
		gap: 1rem;
		opacity: 1;
		border-radius: 12px;
	}
	.nav.visible {
		opacity: 1;
		visibility: visible;
	}
	.nav-list {
		flex-direction: column;
		align-items: end;
		li {
			.link {
				color: $color_2;
			}
		}
	}
	.media {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cuadrado {
		padding: 10px;
	}
}
@media (min-width: 420px) {
	.section-1 {
		flex-direction: column;
	}
	.logo-2 {
		align-items: center;
		width: auto;
		height: 500px;
	}
	.list-1 {
		flex-direction: column;
		flex-basis: 30%;
		margin-bottom: 0;
		margin-top: 0;
	}
	.cont {
		flex-direction: row;
		justify-content: center;
	}
	.cont-3 {
		margin-top: 0;
		margin-left: 20px;
	}
	.text-footer {
		margin-bottom: 0;
		margin-right: 20px;
	}
	.img-uni {
        align-items: center;
		width: 362;
		height: 500px;
	}
	.sec2 { 
		flex-basis: 65%;
		padding-right: 0;
		padding-left: 20px;
		justify-content: space-between;
	}
	.img-1 {
		text-align: left;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}
	.sec1 {
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}
	.text-picture-1 {
		margin-left: 0;
		margin-top: 20px;
	}
}
@media (max-width: 768px) {
	.section-1 {
		grid-template-columns: 1fr;
	}
}


/*MEDIAQUERIS 768*/

@media (max-width: 769px) {

    .abrir-menu{
        display: block;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        border-radius: 12px;
    }
    .cerrar-menu {
		display: block;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        border-radius: 12px;
	}
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #00abf0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: end;
        gap: 1rem;
        opacity: 1;
        border-radius: 12px;
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li .link {
        color: $color_2;
    }

    .media {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cuadrado {
        padding: 10px;
    }

	.contenido{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section-1{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 1200px) {

    .abrir-menu{
		display: flex;
		justify-content: end;
		align-items: end;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        border-radius: 12px;
    }
    .cerrar-menu {
		display: block;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        border-radius: 12px;
	}
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #00abf0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        align-items: end;
        gap: 1rem;
        opacity: 1;
        border-radius: 12px;
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li .link {
        color: $color_2;
    }

    .media {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cuadrado {
        padding: 10px;
    }

	.contenido{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section-1{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/*CARRUSEL*/

.nav-link{
	color: white;
	&:hover{
		color: $color_3;
	}
	
}

