*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #081b29 ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% ;
  background-attachment: fixed;
  height: 100vh;
}
header{
    
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    

}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li .link{
    text-decoration: none;
    color: white
}
.abrir-menu{

    display: none;


}

.cerrar-menu{
    display: none;
}
/*MEDIAQUERYS*/
@media screen and (max-width: 420px){

    .abrir-menu{
        display: block;
    }

    .cerrar-menu{
        display: block;
    }
    
    .nav{
       opacity: 0;
       visibility: hidden;
    }

   .nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00abf0;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    align-items: end;
    gap: 1rem;
    opacity: 1;
    border-radius: 12px;
   }
   .nav.visible{
    opacity: 1;
    visibility: visible;
   }
   .nav-list{
    flex-direction: column;
    align-items: end;
   }

   .nav-list li .link{
    color: #081b29;
   }
 
   .media{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
}

@media (min-width: 420px){
    .section-1{
        flex-direction: column;
        
    }

    .logo-2{
        width: 550px;
    }
    .list-1{
        flex-direction: column;
        
    }
}

@media (max-width: 768px) {
  .section-1 {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 420px) {
  .cont {
    flex-direction: row;
    justify-content: center;
  }

  .cont-3 {
    margin-top: 0;
    margin-left: 20px;
  }

  .text-footer {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (min-width: 420px) {
  .list-1 {
    flex-basis: 30%;
    margin-bottom: 0;
   
    
  }

  .sec2 {
    flex-basis: 65%;
  }

  .img-1 {
    text-align: left;
  }
}
  /* Media Query 420px */
  @media (min-width: 420px) {
    .sec1 {
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }

    .sec2 {
      padding-right: 0;
      padding-left: 20px;
    }

    .list-1 {
      margin-top: 0;
    }

    .img-1 {
      flex-direction: column;
      align-items: flex-start;
    }

    .text-picture-1 {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 420px) {
    .cuadrado {
      padding: 10px;
    }
  }
.barra{
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.contacto{
    display: flex;
    
    padding: 12px;
    margin-left: 16%;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
li{
    padding: 15px;

    text-decoration: none;
    list-style: none;
}

li .link{
    text-decoration: none;
    font-size: 23px;
    color: white;
    padding: 8px;
    
}
li .link:hover{
    
    color:#00abf0;
  
    transition: 0.4s;
 
   
   
}
.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  
  }

  .logo-2 {
    max-width: 100%;
    height: auto;
  }

 

/*.section-1{

    display:flex;
   
    align-items: center;

  
}

.diosa{
    margin-top: 30px;
    padding-right: 0px;
    display: flex;
  


}
*/
.contenido{    
    justify-content: space-between;
    padding-left: 20px;
    backdrop-filter: blur 40px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    margin-right: 200px;
    color: white;
    padding: 20px;
    display: flex;
   
   
    
}
.logo{
    width: 150px;
}



.logo-2{ 
    width: 400px;
    padding-top: 12px;
    padding-left: 40px;
    margin-right: 300px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}


/*.text-1{
    font-size: 20px;
    flex-direction: row;
    color: white;
    font-size: 25px;
    font-family: fantasy;

  
}*/
 
h1{
   
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*FOOTER*/

hr{
    margin-top: 100px;
    margin-left: 20% ;
    margin-right: 20%;
    color: white;
}

footer {
   
    padding: 20px;
    text-align: center;
  }

  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  }

  .cont-3 {
    margin-top: 10px;
    align-items: center;
    
    padding-right: 15px;
  }

  .text-footer {
    margin-bottom: 10px;
  }

  .fa-brands,
  .fa-solid {
    margin: 0 10px;
  }

  
.text-footer{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.dir-1:hover{
    color: #00abf0 ;
  

    
}
.dir-1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
}

i{
    color:white;
}
.text-footer{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}


/*SUSCRIBIRSE AMATERASU*/


.cuadrado{
   
    width: 370px;
    height: 370px;
    margin-top: 100px;
    margin-left: 42.4%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    align-items: center;
    text-align: center;
    border-radius: 20px;

}
.log{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.correo{
    padding-top: 12px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

    
}

.contraseña{
    padding-top: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}
input{
    color: red;

    padding: 12px;


}

.boton{
   
    text-align: center;
    padding-top: 12px;
    
    align-items: center;
}

button{
    padding: 12px;
    
}


i{
    width: 12px;
    padding: 12px;

}

/*PINTURAS A VER*/

.sec1{
    display: flex;
    box-sizing: border-box;
}

.list-1{
    background-color: transparent;

    padding-top: 5%;

    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;

    display: wrap;
    display: flex;
    flex: 1;
    margin-top: 20px;
 
    box-sizing: border-box;
   
}
.nav-1{
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
}
.sepa{
    box-sizing: border-box;
}
.lista-2{
    text-align: center;
    box-sizing: border-box;
    
}
.nav-1:hover{
    
    color:#00abf0 ;
    
    
    transition: 0;
    border-radius: 20px;

}

.img-1{
    display: flex;
    box-sizing: border-box;
   

    
}
.img-dos{
    width: 400px;
}
.img-uni{
    width:50%;
    
   
    
    
}
.text-picture-1{
    padding-right: 10% ;
    box-sizing: border-box;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    padding-top: 10%;
    color: white;
    



}
.sec2{
  
    padding-left: 20px;
    margin-left: 12%;
    margin-top: 4%;
    box-sizing: border-box;
}

.section-content-2{
    color: white;
    display: flex;
 
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 5%;

}

.titulos-h2{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

/*SUSCRIBIRSE*/
.cuadrado-2{
   
    width: 370px;
    height: 420px;
    margin-top: 100px;
    margin-left: 42.4%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .5);
    align-items: center;
    text-align: center;
    border-radius: 20px;

}


.cont-3{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.img-info{
    width: 350px;
}

.text-info-1{
    padding-left: 12px;
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*BOOSTRAP*/

.imagen-size{
    
    height:40%;
    width: 100%;
    object-fit: cover;
    background-position: center ;
}


/*NUEVO RESPONSIVE*/
sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    flex-direction: column;

  }

  .list-1 {
    flex-basis: 100%;
    margin-bottom: 20px;
    height: 550px;
    padding: 90px;
    

    
    
  }

  .sec2 {
    flex-basis: 100%;
  }

  .img-1 {
    text-align: center;
  }

  .img-uni {
   
    height: auto;
    width: 300px;
}

  .text-picture-1 {
    margin-top: 10px;
  }

  


  /*CONTENIDO*/
  .sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .img-1 {
    text-align: center;
  }

  .img-uni {
    max-width: 500px;
    height: auto;
  }

  .text-picture-1 {
    margin-top: 10px;
  }

  @media (min-width: 420px) {
    .sec2 {
      justify-content: space-between;
    }

    .img-1 {
      text-align: left;
    }
  }

  /*INDEX-RESPONSIVE*/


  .sec1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .sec2 {
    flex: 1;
    padding-right: 20px;
  }

 

  .list-1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list-1 li {
    margin-bottom: 10px;
  }

  .img-1 {
    display: flex;
    align-items: center;
  }

  .img-uni {
    max-width: 500px;
    
  }

  .text-picture-1 {
    margin-left: 20px;
  }


  /*INGRESAR RESPONSIVE*/
  /* Estilos generales */
.cuadrado {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.log {
  text-align: center;
  margin-bottom: 20px;
}

.correo,
.contraseña {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.boton button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

/* Estilos responsive */
